<a href="/members/edit/<%=members.id %>" class="btn btn-default">Edit</a>
<img src="<%= members.picture %>" alt="<%= members.firstname %> <%= members.lastname %>"/>
<h1><%= members.firstname %> <%= members.lastname %></h1>
<blockquote><%= members.quote %></blockquote>
<p><%= members.biography %></p>
<% //include blocks/skills %>
<% //include blocks/resume %>