	<form action="/portfolio/update/<%=portfolio.id%>" method="POST" class="edit">
	<div class="form-group">
		<h2> editing a portfolio... </h2>
		<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= portfolio.title %>" name="title" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= portfolio.slug %>" name="slug" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= portfolio.publish %>" name="publish" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= portfolio.excerpt %>" name="excerpt" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= portfolio.client %>" name="client" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= portfolio.date %>" name="date" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= portfolio.content %>" name="content" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= portfolio.images %>" name="images" type="text" class="form-control"/>
	</div>

		</div>
		<input type="submit" value="Update Portfolio" class="btn btn-default"/>
		<a href="/portfolio/show/<%=portfolio.id %>" class="btn btn-danger">Cancel</a>
	</form>
	
	