<div class="container">
	<h3>Page Listing</h3>
	<table class='table table-hover table-condensed'>
	<tr>

	<th> title </th>

	<th> slug </th>

	<th> publish </th>

	<th> excerpt </th>

	<th> content </th>

	<th></th>
	<th></th>
	<th></th>
</tr>
	<% _.forEach(pages, function(page) { %>
    		<tr data-id="<%=page.id %>" data-model="page">
		
			<td><%= page.title%></td>
		
			<td><%= page.slug%></td>
		
			<td><%= page.publish%></td>
		
			<td><%= page.excerpt%></td>
		
			<td><%= page.content%></td>
		
			<td><a href="/page/show/<%=page.id %>"  class="btn btn-primary btn-sm" role="button">Show</a></td>
			<td><a href="/page/edit/<%=page.id %>"  class="btn btn-primary btn-sm" role="button">Edit</a></td>

			<td><form action="/page/destroy/<%=page.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" value="Delete"  class="btn btn-danger btn-sm" role="button"/>
			</form></td>
		</tr>
<% }) %>
	</table>
	<a href="/page/new/" class="btn btn-success btn-sm" role="button">New Page</a> |
	<a href="/">all scaffolds</a>
</div>